* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #000;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

/* Circles */
.circle1 {
    position: absolute;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    background: linear-gradient(-25deg, #d84869, #f46641);
    top: 5%;
    left: 30%;
    box-shadow: 0 0 50px #d84869;
    animation: circle1Animate 15s infinite;
  }

  @keyframes circle1Animate {
    50% {
      left: 33%;
      top: 4%;
      scale: 1.11;
    }
  }

  .circle2 {
    position: absolute;
    bottom: 5%;
    right: 30%;
    width: 19em;
    height: 19em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    animation: circle2Animate 15s infinite;
  }

  @keyframes circle2Animate {
    50% {
      bottom: 6%;
      right: 31%;
    }
  }